@import '../scss/mixins';
@import '../scss/variables';

.main {
  max-width: 1200px;
  margin: 30px 0 100px 0;
  @include flex-column-between;

  .city {
    width: 100%;
    margin-top: 30px;
  }

  .border {
    width: 100%;
    height: 7px;
    background-color: #122E33;
  }

  .wrapper {
    background-color: #fff;
    width: 100%;
    @include flex-center;
    border-radius: 0 0 15px 15px;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;

    .cards {
      @include reset-list;
      display: grid;
      width: 1200px;
      grid-template-columns:repeat(7, 1fr);
      grid-template-rows: repeat(1, 1fr);
      grid-column-gap: 10px;
      padding: 10px;
      min-height: 180px;

      .card {
        position: relative;
        min-height: 220px;
        width: 100%;
        border-radius: 10px;
        border: 1px solid #EAEAEA;
        background-color: #fff;
        cursor: pointer;
        transition: transform ease-in-out 0.2s;

        box-sizing: border-box;
        padding: 10px;
        @include flex-column-between;

        &:hover {
          transform: translateY(-5px);
        }

        .week {
          position: absolute;
          left: 10px;
          top: 10px;
          width: 27px;
          height: 27px;
          border-radius: 4px;
          border: 1px solid #F0F0F0;
          @include flex-center;

          .weekDay {
            @include reset;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #C4C4C4;
          }
        }

        .dateWrapper {
          text-align: center;

          .date {
            @include reset;
            font-weight: 400;
            font-size: 22px;
            line-height: 30px;
            text-align: center;
            color: #555;
          }

          .month {
            @include reset;
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            text-align: center;
            color: #B3B3B3;
            text-transform: uppercase;
          }
        }
        .icon {
          width: 50px;
          height: 50px;
        }

        .temperature {
          @include reset;
          margin-bottom: 20px;
          font-weight: 400;
          font-size: 30px;
          line-height: 42px;
          letter-spacing: 0.01em;
          color: #E05D40;
        }
      }
    }
  }
}