@import 'scss/mixins';
@import 'scss/variables';

body {
  background-color: #2FB4FF;;
  color: #555555;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
